---
title: Doctor
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header.html" %}
	<div class="inner">
		<div class="topic">
			<a href="#" class="topic__link">Примеры работ</a>
		</div>
		<div class="wrap wrap_pt0">
			<div class="main-col">
				<article>
					<h3>Элина Абдрашитова — спинально-мышечная амиотрофия Верднига-Гофмана</h3>
					<div class="date">31.09.2018</div>
					<img src="./img/article-img.jpg" alt="article-img">
					<p>Диагноз СМА был поставлен пациентке в самом раннем детстве, в 3 года. Несмотря на то, что девочка родилась и развивалась, как здоровый ребенок, с 3 лет родители заметили, что ребенок стал падать и не бегает, как другие дети, забив тревогу и многочисленные походы к врачам, получили не утешительный диагноз.</p>
					<p>В возрасте 8-ми лет появились первые признаки деформации позвоночника, к 10-ти годам деформация стало заметной. И так с каждым годом деформация позвоночника становилась больше и больше. А мышцы спины становились слабее и слабее. К 20-ти годам развился тяжёлый нейромышечный грудо-пояснично-крестцовый кифосколиоз. Появились множество проблем со здоровьем, высокое давление, одышка, боль в сердце.</p>
					<p>Пациентка испытывала постоянные сильные боли. И виной тому был сколиоз! Консервативное лечение делалось постоянно, но занятия ЛФК, массаж не помогало. Деформация позвоночника со временем стало настолько сильной, что было сложно сидеть и нормально дышать.</p>
					<p>К 30-ти годам, сколиоз развился настолько сильно, что ребра правого бока лежали на бедре, а спина сильнее выгнулась дугой с другой стороны. И самое страшное, что с такое сильной изогнутой деформацией пришли сильные боли, что даже обезболивающие ни какие не помогали. Но страшное было дальше… Сколиоз сдавил легкие, девушке стало тяжело дышать, развилась сердечно-сосудистая недостаточность.</p>
					<p>Ситуация катастрофически ухудшалась. Девушка забила тревогу, стала искать информацию у пациентов, которые раннее оперировались, так узнала о Центре патологии позвоночника доктора Бакланова, а после консультации решила оперироваться только у доктора Бакланова А.Н.</p>
					<p>Деньги на операцию были собраны с помощью добрых людей и благотворительного фонда «Живой».</p>
					<p>4 декабря 2018 года, девушку успешно прооперировали. Позвоночник надежно зафиксировали титановой конструкцией, провели костную пластику. После сложного хирургического лечения, проведенного под руководством Андрея Николаевича Бакланова и его команды Шаболдина А.Н., Барченко Б.Ю.</p>
					<p>Пациентка находилась под наблюдением и реабилитацией в клинике. Была выписана домой на 14-ый день после операции.</p>
					<p>Сегодня качество жизни пациентки значительно улучшилось: появилась возможность свободно дышать и сидеть без боли. Пациентка отметила, что сил стало больше, с легкость может самостоятельно крутить колеса на коляске, заниматься любимым рукоделием, вязать долго и не уставать.</p>
				</article>
				<div class="simpleslider simpleslider_p20 js-simpleslider" data-slideshow="3">
					{% for i in range(0,7) %}
					    <div class="simpleslider__slide">
					    	<a href="#" class="simpleslider__img">
					    		<img src="./img/article-img-slider.jpg" alt="img">
					    	</a>
					    </div>
					{% endfor %}
				</div>
			</div>
			<div class="sidebar">
				<div class="patientdescription">
					<div class="patientdescription__field">
						<div class="patientdescription__label">Пациент:</div>
						<p>Девушка 35 лет, г. Оренбург</p>
					</div>
					<div class="patientdescription__field">
						<div class="patientdescription__label">Диагноз:</div>
						<p>Спинальная мышечная атрофия Кугельберга-Веландера</p>
					</div>
				</div>
				{% include "partials/_anappointment-form.html" %}
				<div class="sidebar__field">
					<div class="title-md">Другие примеры</div>
					{% for i in range(0,3) %}
					<!-- begin item -->
					<a href="#" class="item">
						<span class="item__img">
							<img src="./img/article-img.jpg" alt="img">
						</span>
						<span class="item__title item__title_sm">Спинально-мышечная амиотрофия Верднига-Гофмана II типа</span>
					</a>
					<!-- end item -->
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% include "partials/_footer.html" %}

{% endblock %}