---
title: Price
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header.html" %}
	<div class="inner">
		<div class="wrap wrap_mdpb0">
			<div class="main-col">
				<!-- begin section -->
				<div class="section section_p0">
					<h2 class="section__title title">Цены на лечение</h2>
					<div data-accordion-group>
						<div class="accordeon" data-accordion-item>
							<div class="accordeon__trigger" data-accordion-trigger>Терапия</div>
							<div class="accordeon__container" data-accordion-container>
								<div class="price">
									<div class="price__name">Консультация</div>
									<div class="price__numb">Бесплатно</div>
								</div>
								<div class="price">
									<div class="price__name">Лечение</div>
									<div class="price__numb">800 ₽</div>
								</div>
							</div>
						</div>
						<div class="accordeon" data-accordion-item>
							<div class="accordeon__trigger" data-accordion-trigger>Хирургия</div>
							<div class="accordeon__container" data-accordion-container>
								<div class="price">
									<div class="price__name">Консультация</div>
									<div class="price__numb">Бесплатно</div>
								</div>
								<div class="price">
									<div class="price__name">Лечение</div>
									<div class="price__numb">800 ₽</div>
								</div>
							</div>
						</div>
						<div class="accordeon" data-accordion-item>
							<div class="accordeon__trigger" data-accordion-trigger>Иплантация</div>
							<div class="accordeon__container" data-accordion-container>
								<div class="price">
									<div class="price__name">Консультация</div>
									<div class="price__numb">Бесплатно</div>
								</div>
								<div class="price">
									<div class="price__name">Лечение</div>
									<div class="price__numb">800 ₽</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end section -->
			</div>
			<div class="sidebar">
				{% include "partials/_anappointment-form.html" %}
			</div>
		</div>
	</div>
	{% include "partials/_footer.html" %}

{% endblock %}