<form class="form form_appointment">
	<h3 class="form__title">Запишитесь на прием к докутору</h3>
	<div class="form-field">
		<div class="form-control">
			<div class="label">Ваше имя •</div>
			<input type="text" class="input" name="appointment_name">
		</div>
	</div>
	<div class="form-field">
		<div class="form-control">
			<div class="label">Телефон •</div>
			<input type="text" class="input" name="appointment_phone">
		</div>
	</div>
	<div class="form-footer">
		<button class="form-footer__submit btn btn_lg btn_full btn_white-blue" type="button">Записаться на рием</button>
	</div>
	<div class="form-conf">
		<p class="form-conf__opacity">Нажимая на конпку, вы даете согласие на</p>
		<p>обработку своих перс. данных</p>
	</div>
</form>