<!-- begin consultation -->
<div class="consultation">
	<div class="consultation__inner inner">
		<div class="consultation__content">
			<div class="consultation__wrap">
				<h2 class="consultation__title">Получить консультацию врача-специалиста</h2>
				<p>Для проведения бесплатной консульации по телефону или по электронной почте заполните пожалуйста форму обратной связи. Сотрудник центра свяжется с Вами в ближайшее время.</p>
			</div>
			<div class="consultation__footer">
				<div class="consultation__label">Более</div>
				<div class="consultation__numb">
					<span>12,056</span>
					<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					        <g transform="translate(-275.000000, -3603.000000)">
					            <g transform="translate(0.000000, 3200.000000)">
					                <g transform="translate(99.000000, 97.000000)">
					                    <g transform="translate(0.000000, 271.000000)">
					                        <g transform="translate(176.000000, 35.000000)">
					                            <circle fill="#FFFFFF" cx="25" cy="25" r="25"></circle>
					                            <polygon fill="#01AFF0" points="25 30 19.1221475 33.0901699 20.2447174 26.545085 15.4894348 21.9098301 22.0610737 20.954915 25 15 27.9389263 20.954915 34.5105652 21.9098301 29.7552826 26.545085 30.8778525 33.0901699"></polygon>
					                        </g>
					                    </g>
					                </g>
					            </g>
					        </g>
					    </g>
					</svg>
				</div>
				<p>Обработаных заявок</p>
			</div>	
		</div>
		<form class="consultation__form form">
			<div class="form-row">
				<div class="form-col">
					<div class="form-control">
						<div class="label">Ваше имя •</div>
						<input type="text" class="input" name="name">
					</div>
				</div>
				<div class="form-col">
					<div class="form-control">
						<div class="label">Телефон •</div>
						<input type="text" class="input" name="phone">
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-col">
					<div class="form-control">
						<div class="label">Email</div>
						<input type="text" class="input" name="email">
					</div>
				</div>
				<div class="form-col">
					<div class="form-control">
						<div class="label">Ваш город</div>
						<input type="text" class="input" name="city">
					</div>
				</div>
			</div>
			<div class="form-field">
				<div class="form-control">
					<div class="label">Комментарий</div>
					<textarea class="textarea" name="comment"></textarea>
				</div>
			</div>
			<div class="form-footer">
				<label class="btn btn_lg btn_file form-footer__btn-file">
					<svg width="34px" height="34px" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					        <g transform="translate(-809.000000, -3637.000000)">
					            <g transform="translate(0.000000, 3200.000000)">
					                <g transform="translate(720.000000, 100.000000)">
					                    <g transform="translate(0.000000, 320.000000)">
					                        <g transform="translate(89.000000, 17.000000)">
					                            <g>
					                                <circle fill="#FFFFFF" cx="17" cy="17" r="17"></circle>
					                                <g transform="translate(9.000000, 10.000000)" fill="#25B7EB">
					                                    <rect x="7" y="0" width="2" height="15" rx="1"></rect>
					                                    <rect transform="translate(8.000000, 7.500000) rotate(-270.000000) translate(-8.000000, -7.500000) " x="7" y="0" width="2" height="15" rx="1"></rect>
					                                </g>
					                            </g>
					                        </g>
					                    </g>
					                </g>
					            </g>
					        </g>
					    </g>
					</svg>
					<input type="file" name="file">
					Выбрать файл
				</label>
				<button class="form-footer__submit btn btn_lg btn_white-blue" type="button">Отправить</button>
			</div>
		</form>
	</div>
</div>
<!-- end consultation -->