<!-- begin hero -->
<div class="hero" style="background-image: url(./img/hero-img.jpg)">
	<div class="hero__inner inner">
		<div class="hero__wrap">
			<h1 class="hero__title title">Хирургическое лечение нейромышечного сколиоза</h1>
			<p>Хирургическое лечение положительно влияет на функцию внешнего дыхания и является способом </p>
			<div class="hero__footer">
				<a href="#" class="btn btn_white btn_md">Получить консультацию</a>
				<div class="hero__inf"><span>—</span>  Бесплатно</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero -->