<!-- begin section -->
<div class="section section_first">
	<div class="section__inner inner">
		<h2 class="section__title title">Отзывы</h2>
		<div class="main-reviews">
			<div class="main-reviews__row">
				<div class="main-reviews__col">
					<!-- begin review -->
					<div class="review">
						<div class="review__wrap">
							<div class="review__hero">
								<div class="review__avatar">
									<img src="./img/review-avatar.png" alt="avatar">
								</div>
								<div class="review__name">Danny Peters</div>
							</div>
							<p class="review__text">I have been questioned by many people to disclose some of the greatest traffic generating techniques that I know of. I am not to immediate to reveal them because I know the majority doesn’t even take battle on them. </p>
							<div class="review__images js-review-images">
								{% for item in range(0,7) %}
								<div class="review__img js-review-image">
									<img src="./img/review-img.png" alt="img">
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="review__footer">
							<div class="review__date date">31.09.2018</div>
						</div>
					</div>
					<!-- end review -->
				</div>
				<div class="main-reviews__col">
					<!-- begin review -->
					<div class="review">
						<div class="review__wrap">
							<div class="review__hero">
								<div class="review__avatar">
									<img src="./img/review-avatar.png" alt="avatar">
								</div>
								<div class="review__name">Danny Peters</div>
							</div>
							<p class="review__text">I have been questioned by many people to disclose some of the greatest traffic generating techniques that I know of. I am not to immediate to reveal them because I know the majority doesn’t even take battle on them. </p>
							<div class="review__images js-review-images">
								{% for item in range(0,3) %}
								<div class="review__img js-review-image">
									<img src="./img/review-img.png" alt="img">
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="review__footer">
							<div class="review__date date">31.09.2018</div>
						</div>
					</div>
					<!-- end review -->
				</div>
				<div class="main-reviews__col">
					<!-- begin review -->
					<div class="review">
						<div class="review__wrap">
							<div class="review__hero">
								<div class="review__avatar">
									<img src="./img/review-avatar.png" alt="avatar">
								</div>
								<div class="review__name">Danny Peters</div>
							</div>
							<p class="review__text">I have been questioned by many people to disclose some of the greatest traffic generating techniques that I know of. I am not to immediate to reveal them because I know the majority doesn’t even take battle on them. </p>
						</div>
						<div class="review__footer">
							<div class="review__date date">31.09.2018</div>
						</div>
					</div>
					<!-- end review -->
				</div>

				<div class="main-reviews__col">
					<!-- begin review -->
					<div class="review">
						<div class="review__wrap">
							<div class="review__hero">
								<div class="review__avatar">
									<img src="./img/review-avatar.png" alt="avatar">
								</div>
								<div class="review__name">Danny Peters</div>
							</div>
							<p class="review__text">I have been questioned by many people to disclose some of the greatest traffic generating techniques that I know of. I am not to immediate to reveal them because I know the majority doesn’t even take battle on them. </p>
							<div class="review__images js-review-images">
								{% for item in range(0,7) %}
								<div class="review__img js-review-image">
									<img src="./img/review-img.png" alt="img">
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="review__footer">
							<div class="review__date date">31.09.2018</div>
						</div>
					</div>
					<!-- end review -->
				</div>
				<div class="main-reviews__col">
					<!-- begin review -->
					<div class="review">
						<div class="review__wrap">
							<div class="review__hero">
								<div class="review__avatar">
									<img src="./img/review-avatar.png" alt="avatar">
								</div>
								<div class="review__name">Danny Peters</div>
							</div>
							<p class="review__text">I have been questioned by many people to disclose some of the greatest traffic generating techniques that I know of. I am not to immediate to reveal them because I know the majority doesn’t even take battle on them. </p>
							<div class="review__images js-review-images">
								{% for item in range(0,3) %}
								<div class="review__img js-review-image">
									<img src="./img/review-img.png" alt="img">
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="review__footer">
							<div class="review__date date">31.09.2018</div>
						</div>
					</div>
					<!-- end review -->
				</div>
				<div class="main-reviews__col">
					<!-- begin review -->
					<div class="review">
						<div class="review__wrap">
							<div class="review__hero">
								<div class="review__avatar">
									<img src="./img/review-avatar.png" alt="avatar">
								</div>
								<div class="review__name">Danny Peters</div>
							</div>
							<p class="review__text">I have been questioned by many people to disclose some of the greatest traffic generating techniques that I know of. I am not to immediate to reveal them because I know the majority doesn’t even take battle on them. </p>
						</div>
						<div class="review__footer">
							<div class="review__date date">31.09.2018</div>
						</div>
					</div>
					<!-- end review -->
				</div>
			</div>
			<div class="main-reviews__footer">
				<a href="#" class="btn btn_lg btn_green btn_w262">Еще отзывы</a>
			</div>
		</div>
	</div>
</div>
<!-- end section -->