<!-- begin doctors -->
<div class="section section_last">
	<div class="section__inner inner">
		<h2 class="section__title title">Наши врачи</h2>
		<div class="doctors">
			<div class="doctor">
				<div class="doctor__img">
					<img src="./img/doctor-1.png" alt="img">
				</div>
				<div class="doctor__wrap">
					<div class="doctor__hero">
						<div class="doctor__hero-left">
							<div class="doctor__name">Вадим Дмитриевич<span class="doctor__experience">опыт 25 лет</span></div>
							<div class="doctor__specializations">
								<a href="#" class="specialization">Врач ЛФК</a>
								<a href="#" class="specialization">Cпинальный хирург</a>
							</div>
						</div>
						<div class="doctor__hero-right">
							<div class="doctor__rating">
								<input type="hidden" class="js-rating rating" value="4" data-readonly/>
							</div>
							<div class="doctor__assessment">Потрясающий врач </div>
							<div class="doctor__quantity">на основе 140 отзывов</div>
						</div>
					</div>
					<div class="doctor__row row">
						<div class="doctor__col col col-6 col-sm-12">
							<div class="doctor__label">Методы лечения:</div>
							<p>There’s a new hairstyle that seems to be sweeping Hollywood: what would you be willing to do to get it for yourself </p>
						</div>
						<div class="doctor__col col col-6 col-sm-12">
							<div class="doctor__label">Образование</div>
							<p>В 1992 году окончил Оренбургский государственный институт. С 1993 года специализации ...</p>
						</div>
					</div>
					<div class="doctor__footer">
						<a href="#" class="btn btn_lg btn_green">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="doctor">
				<div class="doctor__img">
					<img src="./img/doctor-2.png" alt="img">
				</div>
				<div class="doctor__wrap">
					<div class="doctor__hero">
						<div class="doctor__hero-left">
							<div class="doctor__name">Tyler Manning<span class="doctor__experience">опыт 25 лет</span></div>
							<div class="doctor__specializations">
								<a href="#" class="specialization">Врач ЛФК</a>
								<a href="#" class="specialization">Cпинальный хирург</a>
								<a href="#" class="specialization">Врач ЛФК</a>
								<a href="#" class="specialization">Cпинальный хирург</a>
							</div>
						</div>
						<div class="doctor__hero-right">
							<div class="doctor__rating">
								<input type="hidden" class="js-rating rating" value="4" data-readonly/>
							</div>
							<div class="doctor__assessment">Потрясающий врач </div>
							<div class="doctor__quantity">на основе 140 отзывов</div>
						</div>
					</div>
					<div class="doctor__row row">
						<div class="doctor__col col col-6 col-sm-12">
							<div class="doctor__label">Методы лечения:</div>
							<p>There’s a new hairstyle that seems to be sweeping Hollywood: what would you be willing to do to get it for yourself </p>
						</div>
						<div class="doctor__col col col-6 col-sm-12">
							<div class="doctor__label">Образование</div>
							<p>В 1992 году окончил Оренбургский государственный институт. С 1993 года специализации ...</p>
						</div>
					</div>
					<div class="doctor__footer">
						<a href="#" class="btn btn_lg btn_green">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end doctors -->