<!-- begin section -->
<div class="section section_first">
	<div class="section__inner inner">
		<h2 class="section__title title">О клинике</h2>
		<!-- begin about -->
		<div class="about">
			<div class="about__video">
				<div class="video js-video">
					<div class="video__poster">
						<img src="./img/about-img.jpg" alt="poster">
					</div>
					<video src="./video/hd-video.mp4" controls="true"></video>
					<button class="video__play js-video-play" type="button"></button>
				</div>
			</div>
			<div class="about__content">
				<p>The second person takes much longer to reach the far side because they are engaged in conversations along the way as they continue to meet acquaintances and friends during their path. Which type of person would you like to model your business after? </p>
				<p>Successful businesses have many things in common, today we’ll look at the big ‘R’of recognition and how a digital advertising network may help.</p>
				<div class="about__innumbers">
					<div class="about__col">
						<div class="about__item aboutitem">
							<div class="aboutitem__icon">
								<img src="./img/like.svg" alt="img">
							</div>
							<div class="aboutitem__title">2,512</div>
							<div class="aboutitem__text">Проведено операций</div>
						</div>
					</div>
					<div class="about__col">
						<div class="about__item aboutitem">
							<div class="aboutitem__icon">
								<img src="./img/calendar.svg" alt="img">
							</div>
							<div class="aboutitem__title">15 лет</div>
							<div class="aboutitem__text">Опыт на рынке</div>
						</div>
					</div>
					<div class="about__col">
						<div class="about__item aboutitem">
							<div class="aboutitem__icon">
								<img src="./img/hend-heard.svg" alt="img">
							</div>
							<div class="aboutitem__title">954</div>
							<div class="aboutitem__text">Реабилитировано</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end about -->
	</div>
</div>
<!-- end section -->