.contacts
	padding: 60px 0
	&__inner
		display: flex
		+md
			flex-direction: column
	&__left
		+fs(32.74%)
		+md
			+fs(100%)
	&__title
		margin-bottom: 40px
	&__field
		&:not(:last-child)
			margin-bottom: 30px
	&__label
		margin-bottom: 10px
		font-size: 14px
		color: #858696
	&__item
		font-weight: 600
		line-height: 1.22
		&:not(:last-child)
			margin-bottom: 15px
	&__map
		+fs(67.26%)
		+md
			margin: 40px -15px 0
			+fs(calc(100% + 30px))
		img
			width: 100%
			display: block