.icon-calendar {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-handheard {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-like {
  width: 0.89em;
  height: 1em;
  fill: currentColor;
}
.icon-list {
  width: 1.22em;
  height: 1em;
  fill: currentColor;
}
.icon-star {
  width: 1.05em;
  height: 1em;
  fill: currentColor;
}
